.card {
    background-image: url("https://raw.githubusercontent.com/mechelogs/card-css/main/kamet-card.png");
    background-repeat: no-repeat;
    background-size: 373px 244px;
}
/* Card number */
.card .pan {
    color: white;
}	
/* Copy button */
.card .pan .copy-icon {
    color: white;
}	
/* Cardholder */
.card .name {
    color: white;
}	
/* Expiration date */
.card .expiration-date {
    color: white;
}	
/* Security code */
.card .security-code {
    color: white;
}
.card .pin {
    color: white;
}